.sidebar{
    background: #A8A7A7;
    width: 300px;
    height: 100vh;

    padding-top: 120px;
    padding-left: 33px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14.562px;
    line-height: 17px;
    

    letter-spacing: -0.02em;

    color: #FFFFFF;

   
    
}

.tags{
    display: flex;
    flex-direction: column;
}
.hover-color:hover{
    color:yellow;
    padding: 5px;
}