* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  background: burlywood;
  align-self: center;
}
.box2 {
  background: cornflowerblue;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
