




  
  
  .browse-title{
      text-align: center; 
      margin-left: 30px;
      margin-bottom: -15px;
      
  }
  
  .details-link {
      cursor: pointer;
  }
  
  .resource-text{ 
      width:160px;
      height:auto;
      position:relative;
      font-size: .8rem;
     
  }
  
   